[submodule "lib/PublishQueueAsyncRK"]
	path = lib/PublishQueueAsyncRK
	url = https://github.com/rickkas7/PublishQueueAsyncRK.git
[submodule "lib/SparkFun_GNSS"]
	path = lib/SparkFun_GNSS
	url = https://github.com/sparkfun/SparkFun_u-blox_GNSS_Arduino_Library.git
[submodule "lib/Adafruit-MAX31855"]
	path = lib/Adafruit-MAX31855
	url = https://github.com/adafruit/Adafruit-MAX31855-library.git
[submodule "lib/Adafruit-BusIO"]
	path = lib/Adafruit-BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/Seeed_Arduino_CAN"]
	path = lib/Seeed_Arduino_CAN
	url = https://github.com/Seeed-Studio/Seeed_Arduino_CAN.git
[submodule "lib/can-common"]
	path = lib/can-common
	url = https://github.com/supermileage/can-common.git
[submodule "lib/PublishQueuePosixRK"]
	path = lib/PublishQueuePosixRK
	url = https://github.com/rickkas7/PublishQueuePosixRK.git
[submodule "lib/SequentialFileRK"]
	path = lib/SequentialFileRK
	url = https://github.com/rickkas7/SequentialFileRK.git
[submodule "lib/BackgroundPublishRK"]
	path = lib/BackgroundPublishRK
	url = https://github.com/rickkas7/BackgroundPublishRK.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/midi-parser"]
	path = lib/midi-parser
	url = https://github.com/abique/midi-parser.git
