[submodule "lib/PublishQueueAsyncRK"]
	path = lib/PublishQueueAsyncRK
	url = https://github.com/rickkas7/PublishQueueAsyncRK.git
[submodule "lib/SparkFun_GNSS"]
	path = lib/SparkFun_GNSS
	url = https://github.com/sparkfun/SparkFun_u-blox_GNSS_Arduino_Library.git
[submodule "lib/Adafruit-MAX31855"]
	path = lib/Adafruit-MAX31855
	url = https://github.com/adafruit/Adafruit-MAX31855-library.git
[submodule "lib/Adafruit-BusIO"]
	path = lib/Adafruit-BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
